Repository dadosfera/enrich-ddf-floor-2: changes, and which pre-commit hooks are due for each by the changed paths.
All: taxonomy-validation, api-key-protection, test-validation-quick, frontend-build-check

Path conditions:
  taxonomy-validation: any of: \.(py|js|ts|tsx|yaml|yml|json)$
  api-key-protection: any of: \.(py|js|ts|tsx|env|yaml|yml|json)$
  test-validation-quick: any of: \.py$
  frontend-build-check: any of: ^frontend/.*\.(ts|tsx|js|jsx|json)$

config: fix commitlint configuration to resolve case validation error
  .commitlintrc.json
Due: taxonomy-validation, api-key-protection

feat: add comprehensive API keys and fix shellcheck configuration
  .commitlintrc.json
  .env.example
  .pre-commit-config.yaml
  config.py
Due: taxonomy-validation, api-key-protection, test-validation-quick

chore: add shellcheck configuration to ignore cosmetic issues
  .pre-commit-config.yaml
  .shellcheckrc
Due: taxonomy-validation, api-key-protection

feat: add API validation and status reporting
  API_STATUS_REPORT.md
  tests/api_validation/quick_test.py
  tests/api_validation/test_api_keys_v2.py
Due: taxonomy-validation, api-key-protection, test-validation-quick

feat: add central API standardization implementation plan
  active/72_central_api_standardization_implementation_plan.md
Due: none

fix: restore pre-commit hooks and fix validate_taxonomy
  .pre-commit-config.yaml
  scripts/validate_taxonomy.py
Due: taxonomy-validation, api-key-protection, test-validation-quick

refactor: migrate from Black+isort to Ruff-only setup
  .env
  .pre-commit-config.yaml
  pyproject.toml
Due: taxonomy-validation, api-key-protection

feat: add /archive command from docs-fera
  .cursor/commands/archive.md
Due: none

style: apply pre-commit formatting fixes
  README.md
  docs/guides/cursor/isort-ruff-configuration-guide.md
Due: none

docs(conversations): move cursor_can_you_run_the_app.md
  docs/conversations/cursor_can_you_run_the_app.md
Due: none

docs: organize documentation files into proper subdirectories
  docs/guides/DATA_SOURCES_DIRECTORY.md
  docs/guides/GIT_HOOKS_IMPLEMENTATION.md
  docs/guides/QUICK_REFERENCE.md
  docs/reports/API_STATUS_REPORT.md
  docs/status/ERRORS_RESOLVED.md
  docs/summaries/ENRICHMENT_STANDARDIZATION_SUMMARY.md
  docs/summaries/IMPLEMENTATION_SUMMARY.md
  docs/updates/CLEARBIT_DISCONTINUATION_UPDATE.md
Due: none

docs: move remaining documentation files to proper subdirectories
  docs/guides/QUICK_START_REAL_DATA.txt
  docs/plans/REAL_DATA_ENRICHMENT_PLAN.md
  docs/plans/REAL_DATA_SOURCES_PLAN.md
Due: none

fix: update gitignore and organize documentation files
  .pre-commit-config.yaml
  docs/guides/agents.md
  docs/guides/timeout_retry_usage_guide.md
  docs/reports/TEST_RESULTS.md
  docs/reports/advanced_auto_fix_report.md
  docs/reports/auto_fix_impact.md
  docs/reports/auto_fix_report.md
  docs/reports/comprehensive_safety_demo.md
  docs/reports/continuous_improvement_report.md
Due: taxonomy-validation, api-key-protection

feat: add resource optimization improvements
  Makefile
  frontend/package.json
  frontend/playwright.config.ts
  workflows/run.sh
Due: taxonomy-validation, api-key-protection, frontend-build-check

docs: add conversation archive and backlog plan
  Makefile
  active/73_repo_wide_resource_management_standardization.md
  active/74_intelligent_resource_adaptive_testing.md
  compose.yml
  docs/conversations/2025-11-12_pre-commit-ruff-migration-docs-organization.md
  docs/plans/backlog/pre-commit-ruff-migration-docs-organization_next_actions_2025-11-12.md
  scripts/detect_resources.sh
Due: taxonomy-validation, api-key-protection

docs: create cross-repo linter standardization plan
  active/75_cross_repo_linter_standardization.md
Due: none

docs: improve linter standardization plan - fix taxonomy compliance
  active/75_cross_repo_linter_standardization.md
Due: none

feat: complete Wave 1 migration of linter standardization
  Makefile.bak.20251112_205507
  active/linter-standardization-progress.md
  active/wave1-migration-summary.md
  compose.yml.bak.20251112_205506
Due: none

feat: complete Wave 2 and partial Wave 3 migration
  active/73_EXECUTION_COMPLETE_FINAL.md
  active/linter-standardization-execution-complete.md
  active/wave2-migration-summary.md
Due: none

feat: complete Wave 3 and finalize linter standardization execution
  Makefile.bak.20251112_205807
  active/linter-standardization-FINAL-STATUS.md
  active/wave3-migration-summary.md
  compose.yml.bak.20251112_205806
Due: none

feat: complete Phase 4 monitoring setup for linter standardization
  Makefile.bak.20251112_205931
  active/75_cross_repo_linter_standardization.md
  active/linter-health-report-20251112_205846.txt
  active/phase4-monitoring-setup.md
  compose.yml.bak.20251112_205931
Due: none

docs: add final execution completion report for linter standardization
  active/73_EXECUTION_COMPLETE_ALL_REPOS.md
  active/75_EXECUTION_COMPLETE.md
Due: none

docs: add verification report for linter standardization plan execution
  Makefile.bak.20251112_210047
  active/75_VERIFICATION_COMPLETE.md
  compose.yml.bak.20251112_210047
Due: none

docs: update plan status to reflect execution completion
  Makefile.bak.20251112_210256
  active/75_cross_repo_linter_standardization.md
  compose.yml.bak.20251112_210256
Due: none

docs: add final execution report and latest survey/health data
  active/75_FINAL_EXECUTION_REPORT.md
  active/linter-config-survey-20251112_210314.json
  active/linter-health-report-20251112_210316.txt
Due: taxonomy-validation, api-key-protection

docs: update plan to reflect 100% completion (33/33 repos migrated)
  active/75_cross_repo_linter_standardization.md
Due: none

docs: add 100% completion report for linter standardization
  active/75_100_PERCENT_COMPLETE.md
Due: none

docs: update final execution report formatting and content
  active/73_final_execution_report.md
Due: none

docs: add archive docs for linter standardization execution
  docs/conversations/2025-11-12_cross-repo-linter-standardization-execution.md
  docs/plans/backlog/cross-repo-linter-standardization-execution_next_actions_2025-11-12.md
Due: none

feat: execute resource management standardization across all repos
  Makefile
  active/73_COMPLETE_EXECUTION_SUMMARY.md
  active/73_EXECUTION_COMPLETE.md
  active/73_EXECUTION_COMPLETE_ALL_REPOS.md
  active/73_EXECUTION_COMPLETE_FINAL.md
  active/73_EXECUTION_COMPLETE_SUMMARY.md
  active/73_EXECUTION_FINAL_STATUS.md
  active/73_EXECUTION_VERIFIED.md
  active/73_EXECUTION_VERIFIED_COMPLETE.md
  active/73_FINAL_EXECUTION_SUMMARY.md
  active/73_PLAN_EXECUTED.md
  active/73_PLAN_EXECUTION_COMPLETE.md
  active/73_enhanced_execution_complete.md
  active/73_execution_progress.md
  active/73_execution_summary.md
  docs/analysis/dev-demo-lattes-investigation.md
  docs/analysis/dev-demo-lattes-summary.md
  docs/analysis/repository-analysis-and-recommendations.md
  docs/plans/backlog/cross-repo-linter-standardization-execution_next_actions_2025-11-12.md
Due: none

docs: add comprehensive onboarding documentation
  .pre-commit-config.yaml
  README.md
  config.py
  docs/ARCHITECTURE.md
  docs/CONTRIBUTING.md
  docs/GETTING_STARTED.md
  docs/PROJECT_STRUCTURE.md
  docs/TASKS_EXECUTED.md
  docs/analysis/dev-demo-lattes-investigation.md
  docs/analysis/lattes-repositories-findings.md
  docs/analysis/repository-analysis-and-recommendations.md
  docs/guides/file_location_standards.md
  docs/plans/active/76_cars_real_estate_people_enrichment_pages_plan.md
  main.py
  workflows/scripts/validate_taxonomy.py
Due: taxonomy-validation, api-key-protection, test-validation-quick

docs: add frontend configuration to .env.example
  .env.example
Due: none

docs: archive conversation and create next-actions plan
  docs/conversations/2025-11-13_newcomer-onboarding-improvements.md
  docs/plans/backlog/newcomer-onboarding-improvements_next_actions_2025-11-13.md
Due: none

chore: refine workflows layout and shared ruff config
  config/lint/ruff-shared.toml
  docs/PROJECT_STRUCTURE.md
  docs/conversations/2025-11-13_taxonomy-hook-backup-log-file-detection.md
  docs/guides/file_location_standards.md
  docs/plans/active/taxonomy_hook_improvements_status.md
  docs/plans/backlog/taxonomy-hook-backup-log-file-detection_next_actions_2025-11-13.md
  pyproject.toml
  workflows/cost/README.md
  workflows/cost/report-nightly.sh
  workflows/cost/start-nonprod.sh
  workflows/cost/stop-nonprod.sh
  workflows/hooks/install-git-hooks.sh
  workflows/hooks/protect-api-keys-fast.sh
  workflows/hooks/protect-api-keys.sh
  workflows/hooks/validate-taxonomy.sh
  workflows/quality/linter/migrate-linter-config.sh
  workflows/quality/linter/monitor-linter-health.sh
  workflows/quality/linter/rollback-linter-config.sh
  workflows/quality/linter/survey-linter-configs.sh
  workflows/quality/linter/validate-linter-config.sh
  workflows/scripts/README.md
  workflows/scripts/bulk-update-repo.sh
  workflows/scripts/validate_taxonomy.py
Due: taxonomy-validation, api-key-protection, test-validation-quick
