Repository dadosfera/enrich-ddf-floor-2: changes, and which pre-commit hooks are due for each by the changed paths.
All: taxonomy-validation, api-key-protection, test-validation-quick, frontend-build-check

Path conditions:
  taxonomy-validation: any of: \.(py|js|ts|tsx|yaml|yml|json)$
  api-key-protection: any of: \.(py|js|ts|tsx|env|yaml|yml|json)$
  test-validation-quick: any of: \.py$
  frontend-build-check: any of: ^frontend/.*\.(ts|tsx|js|jsx|json)$

chore: align taxonomy hook messaging with scripts/workflows layout
  .cursor/commands/recurrent-errors.md
  workflows/scripts/validate_taxonomy.py
Due: taxonomy-validation, api-key-protection, test-validation-quick

docs: complete taxonomy documentation alignment and canonical summary
  docs/PROJECT_STRUCTURE.md
  docs/guides/file_location_standards.md
  docs/plans/active/75_cross_repo_linter_standardization.md
  docs/plans/active/linter-standardization-FINAL-STATUS.md
  docs/plans/active/taxonomy_hook_improvements_status.md
  docs/plans/backlog/cross-repo-linter-standardization-execution_next_actions_2025-11-12.md
  workflows/scripts/README.md
Due: none

docs: finalize taxonomy hook improvements plan as complete
  docs/plans/active/taxonomy_hook_improvements_status.md
Due: none

docs: archive completed taxonomy hook improvements plan to finished
  docs/plans/finished/taxonomy_hook_improvements_status.md
Due: none

docs: add taxonomy hook improvements status plan to active
  docs/plans/active/taxonomy_hook_improvements_status.md
Due: none

docs: add archive for taxonomy hook improvements execution
  docs/conversations/2025-11-15_taxonomy-hook-improvements-execution.md
  docs/plans/backlog/taxonomy-hook-improvements-execution_next_actions_2025-11-15.md
Due: none

feat(config): centralize port config with random dev ports
  .env.example
  README.md
  compose.yml
  config.py
  config/__init__.py
  config/ports.py
  frontend/playwright.config.ts
  frontend/src/services/api.ts
  frontend/tests/basic-functionality.spec.ts
  frontend/tests/data-enrichment.spec.ts
  frontend/vite.config.ts
  main.py
  workflows/run.sh
Due: taxonomy-validation, api-key-protection, test-validation-quick, frontend-build-check

fix(config): export settings from config/__init__.py
  config/__init__.py
Due: taxonomy-validation, api-key-protection, test-validation-quick

test(docs): add comprehensive tests and docs for port config
  .coverage
  docs/ARCHITECTURE.md
  tests/integration/test_port_config_startup.py
  tests/unit/test_port_config.py
Due: taxonomy-validation, api-key-protection, test-validation-quick

fix: resolve hook errors and Python 3.8 compatibility
  tests/api_validation/quick_test.py
  tests/api_validation/test_api_keys_v2.py
  tests/unit/test_port_config.py
Due: taxonomy-validation, api-key-protection, test-validation-quick

docs: document port configuration across multiple locations
  config/README.md
  docs/GETTING_STARTED.md
  docs/PROJECT_STRUCTURE.md
  docs/conversations/2025-11-15_centralize-port-configuration.md
  docs/lessons_learned/2025-11-15_centralized-port-configuration.md
  docs/plans/backlog/centralize-port-configuration_next_actions_2025-11-15.md
  docs/troubleshooting/port-configuration.md
  workflows/run.sh
Due: none

chore(commands): sync cursor command palette
  .cursor/commands/README.md
  .cursor/commands/arc-archive.md
  .cursor/commands/archive.md
  .cursor/commands/brd-browser-debug.md
  .cursor/commands/brp-browser-pages.md
  .cursor/commands/ded-dedup.md
  .cursor/commands/doc-document.md
  .cursor/commands/gfs-git-full-sync.md
  .cursor/commands/gis-git-sync.md
  .cursor/commands/hce-hardcoding-elimination.md
  .cursor/commands/jou-journey-meta-best-track-or-mini-prompt.md
  .cursor/commands/lin-lint.md
  .cursor/commands/mer-merge.md
  .cursor/commands/pla-plan_from_active_tasks_conversation.md
  .cursor/commands/rer-recurrent-errors.md
  .cursor/commands/rev-review.md
  .cursor/commands/review.md
  .cursor/commands/tes-test.md
  .cursor/settings.json
  .dadosfera/commands/README.md
  .dadosfera/commands/arc-archive.md
  .dadosfera/commands/brd-browser-debug.md
  .dadosfera/commands/brp-browser-pages.md
  .dadosfera/commands/ded-dedup.md
  .dadosfera/commands/doc-document.md
  .dadosfera/commands/gfs-git-full-sync.md
  .dadosfera/commands/gis-git-sync.md
  .dadosfera/commands/hce-hardcoding-elimination.md
  .dadosfera/commands/jou-journey-meta-best-track-or-mini-prompt.md
  .dadosfera/commands/lin-lint.md
  .dadosfera/commands/mer-merge.md
  .dadosfera/commands/pla-plan_from_active_tasks_conversation.md
  .dadosfera/commands/rer-recurrent-errors.md
  .dadosfera/commands/rev-review.md
  .dadosfera/commands/tes-test.md
  .vscode/settings.json
Due: taxonomy-validation, api-key-protection

chore(commands): sync cursor command palette from docs-fera
  .cursor/commands/README.md
  .cursor/commands/gis-git-sync.md
  .cursor/commands/gst-git-stash.md
  .cursor/commands/rev-review.md
  .dadosfera/commands/README.md
  .dadosfera/commands/gis-git-sync.md
  .dadosfera/commands/gst-git-stash.md
  .dadosfera/commands/rev-review.md
Due: none

chore(commands): sync cursor command palette from docs-fera
  .cursor/commands/README.md
  .dadosfera/commands/README.md
Due: none

chore(commands): sync cursor command palette from docs-fera
  .cursor/commands/gst-git-stash.md
  .dadosfera/commands/gst-git-stash.md
Due: none

chore(commands): sync cursor command palette
  .cursor/commands/README.md
  .cursor/commands/gst-git-stash.md
  .dadosfera/commands/README.md
  .dadosfera/commands/gst-git-stash.md
Due: none

chore(commands): sync all 16 canonical commands from docs-fera
  .cursor/commands/gst-git-stash.md
  .dadosfera/commands/gst-git-stash.md
Due: none

chore: migrate ci/cd to jenkins
  Jenkinsfile
  README.md
Due: none

chore(ci): optimize jenkinsfile to use fast test layer
  Jenkinsfile
Due: none

chore: remediate sensitive data - remove .mypy_cache and update .gitignore
  .gitignore
Due: none

feat: standardize entry points (Makefile, workflows/run.sh Level 2+)
  trash_git/commands_cleanup/pro_project.md
Due: none

feat: add --setup option to run.sh
  workflows/run.sh
Due: none

chore(commands): add investigation commands
  .cursor/commands/invd_enhanced_deep_investigation.md
  .cursor/commands/inve_investigate_codebase_priorities.md
  .cursor/commands/invr_investigate_root_cause.md
  .dadosfera/commands/invd_enhanced_deep_investigation.md
  .dadosfera/commands/inve_investigate_codebase_priorities.md
  .dadosfera/commands/invr_investigate_root_cause.md
Due: none

chore: update merge command to v1.4.0 with cleanup warnings & remote CI checks
  .cursor/commands/merg_merge.md
  .dadosfera/commands/merg_merge.md
Due: none

chore: update merge command to v1.5.0 with strict zero-trust data protection
  .cursor/commands/merg_merge.md
  .dadosfera/commands/merg_merge.md
Due: none

chore: update merge command to v1.6.0 with mandatory cleanup verification checklist
  .cursor/commands/merg_merge.md
  .dadosfera/commands/merg_merge.md
Due: none

Update all 56 commands with correct IDs
  .cursor/commands/chkp_check_pending.md
  .dadosfera/commands/chkp_check_pending.md
Due: none

Distribute all 56 canonical commands (v2.0 comprehensive sync)
  .cursor/commands/chkp_check_pending.md
  .cursor/commands/cprs_commits_prs_rules_analysis.md
  .cursor/commands/crcv_cross_repo_convergence.md
  .cursor/commands/ctra_capability_transplant_transfer.md
  .cursor/commands/dtao_deep_test_analyze_optimize.md
  .cursor/commands/help_plan_escalation_for_help.md
  .cursor/commands/hook_hooks_setup.md
  .cursor/commands/matc_code_quality_maturity_assessment.md
  .cursor/commands/matp_product_components_maturity.md
  .cursor/commands/moda_cursor_ask_mode.md
  .cursor/commands/modb_cursor_debug_mode.md
  .cursor/commands/modc_cursor_act_mode.md
  .cursor/commands/modp_cursor_plan_mode.md
  .cursor/commands/reva_review_active_conversation.md
  .cursor/commands/rola_role_arkhitect.md
  .cursor/commands/rolp_role_prj_manager.md
  .cursor/commands/rols_role_senior_autonomous_engineer.md
  .cursor/commands/rolt_role_tech_lead.md
  .dadosfera/commands/chkp_check_pending.md
  .dadosfera/commands/cprs_commits_prs_rules_analysis.md
  .dadosfera/commands/crcv_cross_repo_convergence.md
  .dadosfera/commands/ctra_capability_transplant_transfer.md
  .dadosfera/commands/dtao_deep_test_analyze_optimize.md
  .dadosfera/commands/help_plan_escalation_for_help.md
  .dadosfera/commands/hook_hooks_setup.md
  .dadosfera/commands/matc_code_quality_maturity_assessment.md
  .dadosfera/commands/matp_product_components_maturity.md
  .dadosfera/commands/moda_cursor_ask_mode.md
  .dadosfera/commands/modb_cursor_debug_mode.md
  .dadosfera/commands/modc_cursor_act_mode.md
  .dadosfera/commands/modp_cursor_plan_mode.md
  .dadosfera/commands/reva_review_active_conversation.md
  .dadosfera/commands/rola_role_arkhitect.md
  .dadosfera/commands/rolp_role_prj_manager.md
  .dadosfera/commands/rols_role_senior_autonomous_engineer.md
  .dadosfera/commands/rolt_role_tech_lead.md
Due: none

Distribute all 56 canonical commands (v2.0 comprehensive sync)
  .cursor/commands/chkp_check_pending.md
  .cursor/commands/cprs_commits_prs_rules_analysis.md
  .cursor/commands/ctra_capability_transplant_transfer.md
  .cursor/commands/dtao_deep_test_analyze_optimize.md
  .cursor/commands/help_plan_escalation_for_help.md
  .cursor/commands/moda_cursor_ask_mode.md
  .cursor/commands/modb_cursor_debug_mode.md
  .cursor/commands/modc_cursor_act_mode.md
  .cursor/commands/modp_cursor_plan_mode.md
  .cursor/commands/reva_review_active_conversation.md
  .cursor/commands/tall_tests_all.md
  .dadosfera/commands/chkp_check_pending.md
  .dadosfera/commands/cprs_commits_prs_rules_analysis.md
  .dadosfera/commands/ctra_capability_transplant_transfer.md
  .dadosfera/commands/dtao_deep_test_analyze_optimize.md
  .dadosfera/commands/help_plan_escalation_for_help.md
  .dadosfera/commands/moda_cursor_ask_mode.md
  .dadosfera/commands/modb_cursor_debug_mode.md
  .dadosfera/commands/modc_cursor_act_mode.md
  .dadosfera/commands/modp_cursor_plan_mode.md
  .dadosfera/commands/reva_review_active_conversation.md
  .dadosfera/commands/tall_tests_all.md
Due: none

chore(hooks): add hook installer
  _dev/hooks/install_hooks.sh
Due: none

chore(commands): update delc_delete_conversation v1.5.0 — 4-platform support
  .cursor/commands/delc_delete_conversation.md
  .dadosfera/commands/delc_delete_conversation.md
Due: none

docs(plans): add pre-alpha release & deploy plan (HVA Phase 0)
  docs/plans/active/77_pre_alpha_release_and_deploy_plan.md
Due: none

chore(commands): distribute gbyp_git_protection_bypass v2.4.2 from docs-fera
  .cursor/commands/gbyp_git_protection_bypass.md
  .dadosfera/commands/gbyp_git_protection_bypass.md
Due: none

chore(skills): refresh integrate-isolated-worktree 1.1.0
  .claude/skills/integrate-isolated-worktree/SKILL.md
  .claude/skills/integrate-isolated-worktree/reference.md
  .claude/skills/integrate-isolated-worktree/version.json
  .codex/skills/integrate-isolated-worktree/SKILL.md
  .codex/skills/integrate-isolated-worktree/reference.md
  .codex/skills/integrate-isolated-worktree/version.json
  .cursor/skills/integrate-isolated-worktree/SKILL.md
  .cursor/skills/integrate-isolated-worktree/reference.md
  .cursor/skills/integrate-isolated-worktree/version.json
  .pre-commit-config.yaml
  scripts/hooks/pre-commit-warn-log-size.sh
  scripts/hooks/source/quality/pre-commit-warn-log-size.sh
  workflows/scripts/validate_taxonomy.py
Due: taxonomy-validation, api-key-protection, test-validation-quick
